@page
@using WildHare.Extensions
@using WildHare.Extensions.Xtra
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    "This is text to right to the file".WriteToFile(@"Pages\test.txt");
}


<div class="row">
    <div class="col-md-12">
        <h2>Application Root: @(XtraExtensions.GetApplicationRoot() )</h2>
    </div>
</div>
