@page
@using WildHare.Extensions
@using WildHare.Extensions.Xtra
@using Newtonsoft.Json.Linq
@using System.Diagnostics;

@model IndexModel
@{
    var info = (Title: "Homepage", SubTitle: "Experiments with code.");
}

<h2>@info.Title</h2>
<h3>@info.SubTitle</h3>

<div>Go to the WildHare tab to see generated documentation created using reflection 
	and the WildHare.xml documentation.</div>

